.navbar {
  background-color: rgba(9, 136, 20, 0.356);
  padding-bottom: 1rem;
  box-shadow: 3px 3px 15px 15px rgba(206, 206, 206, 0.644);
}
.navbar a:hover {
  color: white;
}

.topnavbar {
  padding: 2rem;
}

.breadNav {
  padding: 0 1.5rem;
  margin-top: 0.5rem;
}

.footer {
  background-color: #0a7213e7;
  color: white;
  padding-left: 3rem;
  margin-top: 2rem;
}

.footerbean {
  background-size: auto 100px;
  background-repeat: no-repeat;
  padding-left: 10rem;
}

.footer img {
  height: 100px;
}
.homebar img {
  width: 100%;
}
